.app {
  display: grid;
  grid-template-columns: repeat(4, 60px);
  grid-template-rows: repeat(4, fit-content(100%));
  column-gap: 20px;
  justify-content: center;
  height: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.app__header {
  grid-column: 1 / -1;
  margin: 30px 0;
  font-size: 40px;
  font-weight: 700;
  color: var(--primary-color);
  text-align: center;
}

.cards {
  grid-column: 1 / -1;
  order: 10;
  display: grid;
  grid-template: repeat(4, 60px) / repeat(4, 60px);
  justify-content: center;
  gap: 20px;
}

@media (min-width: 480px) {
  .app {
    grid-template-columns: repeat(6, 60px);
  }

  .cards {
    grid-template: repeat(4, 90px) / repeat(4, 90px);
  }
}

@media (min-width: 640px) {
  .app {
    grid-template-columns: repeat(8, 60px);
  }

  .app__header {
    font-size: 50px;
  }

  .cards {
    grid-template: repeat(4, 100px) / repeat(4, 100px);
  }
}

@media (min-width: 960px) {
  .app {
    grid-template-columns: repeat(12, 60px);
  }

  .app__header {
    margin: 50px 0;
  }

  .cards {
    grid-column: 3 / 11;
    order: 0;
    grid-template: repeat(4, 125px) / repeat(4, 125px);
  }
}
